force-app/main/default/flows/Create_Property.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>proRT</name>
        <choiceText>{!PRecordtypes}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>1bb3a1fe-4dc4-42e0-a436-3b4e572f6395</elementReference>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>propertyStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>unitType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unit_Type__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Property {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Property</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Property</name>
        <label>Create Property</label>
        <locationX>805</locationX>
        <locationY>177</locationY>
        <inputAssignments>
            <field>Apartment_Name__c</field>
            <value>
                <elementReference>ParentApt.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_in_SqFt__c</field>
            <value>
                <elementReference>Property_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PropertyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>PropertyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>propertyStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Type__c</field>
            <value>
                <elementReference>unit_Types</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RType</name>
        <label>RType</label>
        <locationX>493</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>proRT</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Property_Creation</name>
        <label>Property Creation</label>
        <locationX>452</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RType</targetReference>
        </connector>
        <fields>
            <name>PropertyID</name>
            <dataType>String</dataType>
            <fieldText>PropertyID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PropertyName</name>
            <dataType>String</dataType>
            <fieldText>PropertyName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sale_Price</name>
            <dataType>String</dataType>
            <fieldText>Sale Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>propertyStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>unit_Types</name>
            <choiceReferences>unitType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>unit Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Property_Area</name>
            <dataType>Number</dataType>
            <fieldText>Property Area</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ParentApt</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Apartment_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ParentRecord</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Property__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Property_Creation</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>AptName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
