force-app/main/default/flows/New_Customer_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Customer_Creations</name>
        <label>Customer Creation</label>
        <locationX>679</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>CustVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cust_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustVariable.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustVariable.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustVariable.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustVariable.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>CustStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage__c</picklistField>
        <picklistObject>Customers__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Customer Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Customer</name>
        <label>Customer</label>
        <locationX>680</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Customer_success_creatioin</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>CustVariable</inputReference>
    </recordCreates>
    <screens>
        <name>Customer_Creation</name>
        <label>Customer Creation</label>
        <locationX>460</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Creations</targetReference>
        </connector>
        <fields>
            <name>Cust_Name</name>
            <dataType>String</dataType>
            <fieldText>Cust Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Customer Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>CustStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_success_creatioin</name>
        <label>Customer success creatioin</label>
        <locationX>354</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>custCreationSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Customer record created.&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!CustVariable.Name} &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;is interested in our property. He is quoting &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!CustVariable.Customer_Price__c} &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;for the property he is interested in!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>362</locationX>
        <locationY>154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>custFaultScreen</name>
            <fieldText>&lt;p&gt;Customer record failure.{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Customer_Creation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CustVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customers__c</objectType>
    </variables>
</Flow>
